@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
    width: 100%;
}
a{
    text-decoration: none;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;

}
header ul li{
    margin: 10px;
}

img{
    width: 150px;
}
h1{
    font-size: 24px;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p{
    font-size: 20px;
    color: rgb(18, 18, 19);

}

.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(224, 151, 221);
}

.caja{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentacion h1{
    font-size: 35px;
    color: rgb(89, 116, 236);
}
.presentacion p{
    width: 70%;
    font-size: 30px;
    padding: 10px;
    font-family: "Edu VIC WA NT Beginner", cursive;
}